.wrapper
{
    max-width: 500px;
    align-self: center;
}

.testWrapper
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 24px;

    @media (max-width: 480px) {
        gap: 40px;
    }
}

.question
{
    font-size: 1.5rem;
    font-weight: 600;

    @media (max-width: 480px) {
        margin-bottom: 20px;
    }
}

.images
{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 12px;

    @media (max-width: 480px) {
        gap: 4px;
    }
}

.imageWrapper
{
    height: 100%;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: inherit;
    padding: 0;
    margin: 0;
    

    >img
    {
        width: 300px;
        height: 300px;
        object-fit: cover;
        border-radius: 16px;
        border: 5px solid transparent;
        transition: all, .2s;

        &:hover
        {
            border: 5px solid rgb(7, 88, 159);
            transition: all, .2s;
        }

        &:active
        {
            border: 5px solid rgb(7, 88, 159);
            opacity: .7;
            transition: all, .2s;
        }

        @media (max-width: 700px) {
            height: 200px;
            width: 200px;
        }

        @media (max-width: 480px) {
            height: 150px;
            width: 150px;
        }

        @media (max-width: 340px) {
            height: 120px;
            width: 120px;
        }
    }
}

.selectedTrue
{
    border: 5px solid rgb(48, 212, 29) !important;
}

.selectedFalse
{
    border: 5px solid rgb(200, 43, 43) !important;
}

.hint
{
    height: 20px;
    font-size: 1rem;
}

.hintTrue
{
    color: rgb(25, 135, 0);
}

.hintFalse
{
    color: rgb(200, 43, 43);
}

.buttons
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    @media (max-width: 480px) {
        position: absolute;
        bottom: 20px;
    }
}

.button
{
    font-size: 1.2rem;
    padding: 8px 40px;
    border: none;
    border-radius: 8px;
    background-color: rgb(7, 88, 159);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all, .2s;
    @media (max-width: 480px) {
        width: 90%;
    }

    &:hover
    {
        background-color: rgb(2, 54, 100);
        transition: all, .2s;
    }

    &:active
    {
        opacity: .7;
        transition: all, .2s;
    }

    &:disabled
    {
        pointer-events: none;
        opacity: .5;
    }
}
